*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: none;
    text-transform: uppercase;
    font-family: sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #252424;
    max-width: 100vw;
    height: 100vh;
}

/* form do cartão */
.container form{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    gap: 10px;
    padding: 20px;
    padding-top: 70px;
    align-items: center;
    width: 500px;
    border-radius: 10px;
}

.content{
    width: 100%;
}

label{
    color: #686767;
}

#card-number, #card-holder, #card-cvv, #meses, #ano{
    width: 100%;
    border: 2px solid #ccc;
    border-radius: 6px;
    padding: 8px 10px;
    margin-top: 5px;
}

#card-cvv, #meses, #ano{
    width: 100%;
}

.validade-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

input[type=submit] {
    padding: 10px;
    border-radius: 6px;
    font-weight: bold;
    color: #fff;
    width: 100%;
    background-image: linear-gradient(to left , #fad25c, #ffd966, #ffc34d, #ffad33);
    margin-top: 10px;
}
/*fim form do cartão */

/*CARD DESIGN*/
.card-design{
    display: flex;
    flex-direction: column;
    width: 380px;
    height: 200px;
    margin-top: -150px;
    margin-bottom: 10px;
    position: relative;
}

/*parte frontal do cartão*/
.front{
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left , #fad25c, #ffd966, #ffc34d, #ffad33);
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    justify-content: space-between;
    backface-visibility: hidden;
    transition: transform .4s ease-out;
    transform: perspective(1000px) rotateY(0deg);
    box-shadow: 0px 5px 10px rgba(97, 97, 97, 0.5);
}

.images{
    display: flex;
    justify-content: space-between;
}

.images > img{
    height: 30px;
    border-radius: 4px;
}

.flex-box{
    display: flex;
    justify-content: space-between;
}
/*fim parte frontal do cartão*/

/*parte de tras do cartão*/
.back{
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    background-image: linear-gradient(to left , #fad25c, #ffd966, #ffc34d, #ffad33);
    width: 100%;
    height: 100%;
    border-radius: 10px;
    color: #fff;
    justify-content: space-between;
    backface-visibility: hidden;
    transition: transform .4s ease-out;
    transform: perspective(1000px) rotateY(180deg);
    padding: 20px 0px;
    box-shadow: 0px 5px 10px rgba(97, 97, 97, 0.5);
}

.back > h3{
    text-align: left;
    width: 100%;
}

.listra{
    margin-top: 10px;
    width: 100%;
    background-image: linear-gradient(to right, #0f0f0f, #292929, #3a3a3a, #505050);
    height: 30px;
}

.cvv-box{
    text-align: right;
    width: 100%;
    padding: 20px;
}

.cvv-box > p{
    margin-bottom: 5px;
}

#cvv-span{
    width: 100%;
    background-color: #fff;
    padding: 10px;
    border-radius: 4px;
}
/*fim parte de tras do cartão*/

/*FIM CARD DESIGN*/